<!-- Start contact -->
<section id="contact">
  <div class="contact-contain">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3 class="heading">Contact</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 wow fadeInDown" data-wow-delay="0.4s">
          <form id="contactform" action="http://localhost:8000/contact" method="post" class="validateform" name="leaveContact">
            <div class="clearfix"></div>
            <div id="sendmessage">
              <div class="alert alert-info marginbot35">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Votre message a été envoyé ! Merci l'ami !
              </div>
            </div>
            <ul class="listForm">
              <li>
                <i class="pe-7s-users"></i>
                <input class="form-control input-name" type="text" name="name" data-rule="required" data-msg="Required field" placeholder="Entrez votre nom entier" />
                <div class="validation"></div>
              </li>
              <li>
                <i class="pe-7s-mail"></i>
                <input class="form-control input-email" type="text" name="email" data-rule="email" data-msg="Veuillez entrer une adresse valide" placeholder="Entrez votre adresse courriel" />
                <div class="validation"></div>
              </li>
              <li class="push">
                <i class="pe-7s-paper-plane"></i>
                <textarea class="form-control input-message" rows="6" name="message" data-rule="required" data-msg="Il faut nous laisser un message" placeholder="Laissez un p'tit message sympa"></textarea>
                <div class="validation"></div>
              </li>
              <li class="push text-center">
                <input type="submit" value="Envoi" class="btn btn-primary btn-lg" name="Envoi" />
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact -->
