<select ng-change="setFieldType()" ng-model="fieldId">
  <option ng-repeat="(id, fieldType) in fieldTypes" ng-value="id">{{fieldType.name}}</option>
</select>
<br>
<div id="fieldDefinition">
  <form>
    <div>
      <h5>Field definition</h5>
      <label for="field-name">Field name:</label>
      <input type="text" name="field-name" id="field-name">
      <br>
      Field type: {{currentFieldType.name}}
    </div>

    <div ng-if="currentFieldType.ai">
      <label for="field-ai">auto-increment</label>
      <input type="checkbox" name="field-ai" id="field-ai">
    </div>

    <div ng-if="currentFieldType.length">
      <label for="field-length">Length:</label>
      <input type="number" name="field-length" id="field-length">
    </div>

    <div>
      <h5>Field parameters</h5>
      <div ng-repeat="fieldParam in currentFieldType.params">
        {{fieldParam.name}}
        <input type="text" ng-if="fieldParam.controlType === 'string'" id="field-param-{{fieldParam.name}}" ng-model="fieldParam.val">
        <input type="checkbox" ng-if="fieldParam.controlType === 'boolean'" id="field-param-{{fieldParam.name}}" ng-model="fieldParam.val" checked="{{fieldParam.val}}">
      </div>
    </div>

    <input type="button" value="add" ng-click="addField()">
    <input type="button" value="Create database" ng-click="createDb()">
  </form>
</div>
