<!-- End home -->
<section id="home" class="home-wrapper parallax polygon-bg" back-img="/img/polygon.jpg">
  <div class="home-contain">
    <div class="container">
      <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
        <div class="col-md-10 col-md-offset-1">
          <h3><span>ODA Challenge</span> IPSSI</h3>
          <p class="btn-inline">
            <a href="#"
               data-pretty="prettyPhoto"
               class="btn btn-bordered btn-lg zoom">Explications vidéos</a>
            <a href="#" class="btn btn-primary btn-lg">Essai gratuit</a>
          </p>
          <div class="home-slider">
            <div class="slider-wrapper">
              <div class="imac-device">
                <ul class="slides">
                  <li>
                    <div class="video-container">
                      <div class="youTubeEmbed"></div>
                    </div>
                  </li>
                  <li>
                    <a href="#"><img src="/img/slider/img2.png" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/slider/img3.png" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/slider/img4.png" alt="" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <img src="/img/imac.png" class="img-responsive" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End home -->

<div class="clearfix"></div>
