<div id="wrapper-fixed" >
	<div class="login-register-wrapper" ng-controller="LoginCtrl" back-img="/img/polygon.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="login-register">
						<ul class="nav nav-tabs log-tabs" role="tablist">
							<li role="presentation"><a href="login/#Login" role="tab" data-toggle="tab">Connexion</a></li>
							<li role="presentation" class="active"><a href="login/#register" role="tab" data-toggle="tab">Inscription</a></li>
						</ul>
						<div class="tab-content log-tabs-containt">
							<!-- LOGIN -->
							<div role="tabpanel" class="tab-pane" id="Login" ng-controller="LoginCtrl">
								<form class="form-horizontal">
									<div class="form-group">
										<div class="col-lg-12 text-left">
											<input type="text" class="form-control form-block" placeholder="Mail" ng-model="user.email">
											<p class="help-block" ng-show="errorMail">{{ errorMail }}</p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-12 text-left">
											<input type="password" class="form-control form-block" placeholder="Mot de passe" ng-model="user.password">
											<p class="help-block" ng-show="errorPwd">{{ errorPwd }}</p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-12 text-center">
											<button class="btn btn-primary btn-lg" ng-click="login(user)">Se connecter</button>
										</div>
									</div>
								</form>
							</div>
							<!-- REGISTER -->
							<div role="tabpanel" class="tab-pane active" id="register" ng-controller="InscriptionCtrl">
								<form ng-submit="inscriptionSubmit()" class="form-horizontal">
		              <!-- Info compte -->
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="username" placeholder="Nom d'utilisateur">
											<p class="help-block" ng-show="usernameMessage">{{ usernameMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="email" placeholder="Adresse email">
											<p class="help-block" ng-show="emailMessage">{{ emailMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="password" class="form-control form-block" ng-model="password" placeholder="Mot de passe">
											<p class="help-block" ng-show="passwordMessage">{{ passwordMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="password" class="form-control form-block" ng-model="passwordConfirm" placeholder="Confirmer mot de passe">
		                </div>
		              </div>


		              <div class="sparator"><span>Informations personnelles</span></div>
		              <!-- Infos personnelles -->

		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="lastname" placeholder="Nom de famille">
											<p class="help-block" ng-show="firstnameMessage">{{ firstnameMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="firstname" placeholder="Prénom">
											<p class="help-block" ng-show="lastnameMessage">{{ lastnameMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="address" placeholder="Adresse">
											<p class="help-block" ng-show="addressMessage">{{ addressMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="zipcode" placeholder="Code postal">
											<p class="help-block" ng-show="zipcodeMessage">{{ zipcodeMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="city" placeholder="Ville">
											<p class="help-block" ng-show="cityMessage">{{ cityMessage }}</p>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-lg-12 text-left">
		                  <input type="text" class="form-control form-block" ng-model="phone" placeholder="Téléphone">
											<p class="help-block" ng-show="phoneMessage">{{ phoneMessage }}</p>
		                </div>
		              </div>

		              <div class="form-group">
		                <div class="col-lg-12 text-center">
		                  <button class="btn btn-primary btn-lg" value="Envoyer">S'inscrire</button>
		                </div>
		              </div>
		            </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
