<p>This is the password view.</p>

<form ng-submit="updatePassword()">
  <!-- Info compte -->

  <label>Ancien mot de passe : </label><input type="password" ng-model="password" placeholder="Ancien mot de passe">
  <label>Mot de passe : </label><input type="password" ng-model="new_password" placeholder="Mot de passe">
  <label>Confirmation : </label><input type="password" ng-model="passwordConfirm" placeholder="Confirmer mot de passe">

  <input type="submit" value="Mettre à jour">
</form>

<div ng-show="errorMessage">
  {{ errorMessage }}
</div>
