<p>This is the profil view.</p>

<!-- Info compte -->
Nom : {{profil.username}}<br>
Email : {{profil.email}}<br>
<br>
<!-- Infos personnelles -->
Prénom : {{profil.firstname}}<br>
Nom de famille : {{profil.lastname}}<br>
Adresse : {{profil.address}}<br>
Code Postal : {{profil.zipcode}}<br>
Ville : {{profil.city}}<br>
Téléphone : {{profil.phone}}<br>

<a ui-sref="abonnement">Gérer mon abonnement</a><br>
<a ui-sref="profilUpdate">Modifier le profil</a><br>
<a ui-sref="password">Modifier mot de passe</a>
